## General
build
staging
*.log
*.log.*


## Home Assistant
/.HA_VERSION
/.cloud
/.storage
/packages/zone/*.yaml
!/packages/zone/home.yaml
/image/
/tts/
/www/

# External/dependencies
/custom_components
!/custom_components/ldap3_dummy/*
/themes

# Secrets
ip_bans.yaml
secrets.yaml
/ssh/config.*
.env

# SQlite
*.db
*.db-shm
*.db-wal


## Python
__pycache__
*.pyc


## SSH
/ssh/id_*
/ssh/known_hosts


# Keep .gitkeep
!.gitkeep

# Built-in automations
/blueprints/template/homeassistant/inverted_binary_sensor.yaml
/blueprints/script/homeassistant/confirmable_notification.yaml


# External tools
.venv
/support/ext
.ha_run.lock
.shopping_list.json
