## General
build
staging
*.log
*.log.*


## Home Assistant
.HA_VERSION
.cloud
.storage
packages/zone/*.yaml
!packages/zone/home.yaml

# External/dependencies
custom_components
themes
www/community

# Secrets
ip_bans.yaml
secrets.yaml
ssh/config.*

# SQlite
*.db
*.db-shm
*.db-wal


## Python
__pycache__
*.pyc


## SSH
ssh/id_*
ssh/known_hosts


# Keep .gitkeep
!.gitkeep
